@use "utils";

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

:root {
  --base-spacing: 8px;
  --base-primary-color: 193deg, 100%;
  --base-text-color: 355deg, 0%, 0%;
  --background: hsl(0 0% 100%);
  --error-color: hsl(349, 100%, 50%);
  --body-font: "Poppins", sans-serif;
  @include utils.generate-palette(var(--base-primary-color), "primary");
  @include utils.generate-text-palette(var(--base-text-color));
}

html,
body {
  margin: 0;
  color: var(--text-high-emphasis);
  font-family: var(--body-font);
  font-size: 14px;
}

* {
  box-sizing: border-box;
  margin: 0;
}
