@use "../../sass/utils/spacing";

.combobox {
  font-family: var(--body-font);
  width: 100%;

  & .rw-widget-picker {
    border: none;
    grid-template: 1fr / minmax(0, 1fr) 2em;
    &.rw-hide-caret {
      grid-template-columns: 1fr;
    }
  }
  & .rw-picker-caret {
    background: #eee;
  }

  &__input.rw-input {
    background-color: #eee;
    color: var(--text-high-emphasis);
    font-weight: 500;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-family: var(--body-font);
  }

  &__helper-text {
    font-size: 0.75rem;
    margin-top: spacing.spacing(0.5);
    &--error {
      color: var(--error-color);
    }
    &--hidden {
      display: none;
    }
  }
}
